<footer class="footer">
    <div class="footer-content">

        <!-- 左邊 icon -->
        <div class="footer-icon">
            <a href="index.html">
                <img src="./assets/img/logo/Logo_small.png" alt="footer icon">
            </a>
        </div>

        <!-- 中間選單 -->
        <ul class="footer-menu">
            <li><a href="#pet-adoption-list">毛孩領養</a></li>
            <li><a href="#pet-missing-list">走失協尋</a></li>
            <li><a href="#qna">常見問題</a></li>
            <li><a href="#member">會員中心</a></li>
        </ul>

        <!-- 右邊 TOP 圓形按鈕 -->
        <button class="back-to-top" id="backToTop">
            TOP<br><i class="bi bi-chevron-double-up"></i>
        </button>
    </div>


    <div class="footer-bottom">
        Copyright © 2025 Rehome
    </div>
</footer>