<nav class="navbar navbar-expand-lg  custom-nav" id="navbar">
    <div class="container-fluid">

        <!-- Logo + Brand -->
        <a class="navbar-brand d-flex align-items-center" href="#home">
            <img src="../assets/img/logo/LogoPlusName.png" id="logo" class="me-2">
        </a>

        <!-- 漢堡 -->
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <div class="toggler-icon">
                <span></span><span></span><span></span>
            </div>
        </button>

        <!-- 選單 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#pet-adoption-list">毛孩領養</a></li>
                <li class="nav-item"><a class="nav-link" href="#pet-missing-list">走失協尋</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        我要刊登 <i class="bi bi-chevron-down mobile-only-icon"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#pet-inf">刊登送養</a></li>
                        <li><a class="dropdown-item" href="#missing_publish_1">刊登走失</a></li>
                    </ul>

                </li>
                <li class="nav-item"><a class="nav-link" href="#qna">常見問題</a></li>
                <li class="d-flex justify-content-center ">
                    <button class="btn btn_dark" type="button" id="btn_login">登入</button>
                </li>
            </ul>

        </div>
    </div>
</nav>