<link rel="stylesheet" href="/admin/css/header.css">
<header class="header">
    <div class="header-left">
        <img src="../../../assets/img/logo/LogoPlusName.png" alt="ReHome 後台管理系統">
        <span>後台管理系統</span>
    </div>
    <!-- <div class="header-right">
        <div class="user-profile">
            <img src="../../img/Logo.PNG" alt="Admin Avatar">
            <div class="user-info">
                <span class="username">ReHome</span>
                <span class="userrole">Admin</span>
            </div>
        </div>
    </div> -->
</header>