/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E9E2D8; /* Light beige background */
    font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #504033;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    z-index: 100;
    background-color: #D5C8B8;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    height: calc(100vh - 80px);
}

.sidebar {
    width: 250px;
    background-color: #AB9073;
    flex-shrink: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 0;
    overflow: auto;
}


